#container {
  margin: 40px;
  border: 5px dashed pink;
}
#main {
  background-color: white;
  padding: 10px 10px 10px 10px;
  border: solid 15px #ecf0f1;
}

#sub {
  border-top: solid 2px #ecf0f1;
  width: 100%;
}
#table {
  width: 100%;
}
#row {
  background-color: #ecf0f1;
}
